%section#Downloads

  .page-header
    %h1 Downloads

  .row
    .span3
      %p
        %a.btn.btn-primary.btn-large.btn-block{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-mac.tar.bz2/download"} For Mac
    .span3
      %p
        %a.btn.btn-primary.btn-large.btn-block{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-linux-x86_64.tar.bz2/download"} For Linux 64bit
    .span3
      %p
        %a.btn.btn-primary.btn-large.btn-block{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-linux-x86.tar.bz2/download"} For Linux 32bit
    .span3
      %p
        %a.btn.btn-primary.btn-large.btn-block{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-windows-x86_64.zip/download"} For Windows 64bit

  %ul
    %li
      %a{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-src.tar.bz2/download"} Source code
    %li
      %a{:href => "http://github.com/iofg2100/PaintField"} View on GitHub
    %li
      %a{:href => "https://sourceforge.net/projects/paintfield/"} SourceForge page
  
  %p Version: 0.0.6 (Released on June 28, 2013)
  %p Tested on OS X Mountain Lion, Ubuntu 13.04, Windows 8 and Windows 7.
  
  %h3 Changelog
  %h4 0.0.6 (June 28, 2013)
  %ul
    %li Linux 32bit support (Windows 32bit is still unsupported)
    %li Fixed layers cannot be drawn correctly when stacked
    %li You can export PNGs without alpha channel
    %li License changed to LGPL
    %li Several bugfixes, improvements and optimizations

  %h4 0.0.5 (June 18, 2013)
  %ul
    %li Japanese user interface added
    %li Floating tabs temporarily disabled due to some issues
    %li Fixed canvas scroll bars cannot be dragged
    %li Keeping aspect ratio in New Document dialog

  %h4 0.0.4 (June 13, 2013)
  %ul
    %li Windows support
    %li Make texts, rectangles and ellipses
    %li Workspace states (sidebar positions and colors) are saved on quitting
    %li Some optimizations that improve brush response
    %li New from clipboard image
    %li More beautiful and faster redrawing of canvas when zoomed down
    %li Several bug fixes and small improvements

  %h4 0.0.3 (Feb 25, 2013)
  %ul
    %li Retina display support
    %li Tablet pointer (Pen / Eraser) associated with brush preset
    %li Brush preset associated with brush size

  %h4 0.0.2 (Feb 23, 2013)
  %ul
    %li File format revised
    %li Brush responce became far better - especially when you are using a Wacom tablet
    %li The workspace feature added - you can open multiple main windows (workspaces)
    %li Multiple views for one file
    %li Several bug fixes

  %h4 0.0.1 (Jan 18, 2013)
  %ul
    %li Initial release
