%section#FAQ
  .page-header
    %h1 Frequently Asked Questions
  %h4 What are the default shortcuts of PaintField?
  %ul
    %li Translating canvas: Space+Drag
    %li Scaling canvas: Option+Space+Drag (Mac), Control+Space+Drag (Linux, Windows)
    %li Rotating canvas: Shift+Space+Drag
  %p
    Also, many of the menu bar items has their own shortcuts.
  %h4 PaintField fails to launch. What can I do?
  %p
    %strong On Linux:
  %p
    The following libraries must be installed. Check if these libraries are installed and install them if not.
  %ul
    %li Qt 4.8
    %li libfreeimage
