%section#Features
  .page-header
    %h1 Features
  %p
    The current features of PaintField are:
  %ul
    %li Tabs
    %li Split tab areas vertically / horizontally
    %li Multiple views for one document
    %li Navigator (Canvas rotation & scaling)
    %li Layers with groups
    %li Infinite undo / redo
    %li Layer move
    %li Simple brush, which can be used with Wacom tablets
    %li Make texts, rectangles and ellipses
    %li ...Too few features?
    %li Please wait until more features are added...