%section#top

  .hero-unit
    %h1 PaintField
    %p An open-source digital painting / image editing app for Windows, Mac and Linux
    %a.btn.btn-primary.btn-large{:href => "downloads.html"} Download »

  .alert.alert-block
    %h4 PaintField is still a preview version!
    %p
      PaintField is still
      %strong very incomplete as a normal painting app.
      %br
      Currently, the most suitable purpose of using PaintField is
      %strong sketching.

  %p.text-center
    PaintField aims to provide
    %strong easy, pleasant and non-frustrating painting.
    %br
    PaintField is designed to
    %strong run fast
    and
    %strong be as simple as possible.

  .row
    .span4
      %h3 Free and Free
      %p PaintField is free of charge and open-source. The source code is released under MIT license.
    .span4
      %h3 Simple UI
      %p The user interface of PaintField is very simplified and easy-to-use.
    .span4
      %h3 Painting with Wacom Tablets
      %p PaintField is suitable for Wacom tablets.
  .row
    .span4
      %h3 Cross-platform
      %p You can use PaintField on Mac, Linux and Windows.
    .span4
      %h3 Movable Tabs
      %p You can move document or sidebar tabs around. Tab areas can be splitted.
    .span4
      %h3 Multiple Views
      %p You can edit multiple documents or edit one document in multiple views at the same time.

%section#screenshots
  .pf-image-frame
    %a.fancybox{"data-fancybox-group" => "gallery", :href => "../images/demoshot.jpg", :title => "Screenshot"}
      %img.img-polaroid{:alt => "", :src => "../images/demoshot-thumb.jpg"}/