%section#Downloads

  .page-header
    %h1 ダウンロード

  .row
    .span3
      %p
        %a.btn.btn-primary.btn-large.btn-block{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-mac.tar.bz2/download"} For Mac
    .span3
      %p
        %a.btn.btn-primary.btn-large.btn-block{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-linux-x86_64.tar.bz2/download"} For Linux 64bit
    .span3
      %p
        %a.btn.btn-primary.btn-large.btn-block{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-linux-x86.tar.bz2/download"} For Linux 32bit
    .span3
      %p
        %a.btn.btn-primary.btn-large.btn-block{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-windows-x86_64.zip/download"} For Windows 64bit

  %ul
    %li
      %a{:href => "http://sourceforge.net/projects/paintfield/files/releases/paintfield-0.0.6-src.tar.bz2/download"} ソースコード
    %li
      %a{:href => "http://github.com/iofg2100/PaintField"} GitHub で見る
    %li
      %a{:href => "https://sourceforge.net/projects/paintfield/"} SourceForge ページ
 
  %p バージョン: 0.0.6 (2013 年 6 月 28 日公開)
  %p OS X Mountain Lion, Ubuntu 13.04, Windows 8 および Windows 7 でテスト済み

  %h3 変更履歴

  %h4 0.0.6 (2013 年 6 月 28 日)
  %ul
    %li Linux 32bit のサポート (Windows 32bit はまだサポートせず)
    %li レイヤーが重なった時、正しく描画されない問題を修正
    %li アルファチャンネルなしのPNGの書き出しが可能に
    %li ライセンスがLGPLに
    %li いくつかのバグ修正、改良、最適化

  %h4 0.0.5 (2013 年 6 月 18 日)
  %ul
    %li 日本語のユーザーインターフェースを追加
    %li いくつかの問題により、タブのフローティングを一時的に無効化
    %li キャンバスのスクロールバーが動かせない問題を修正
    %li 新規書類ダイアログで縦横比を固定できるように

  %h4 0.0.4 (2013 年 6 月 13 日)
  %ul
    %li Windows に対応
    %li テキスト、長方形、楕円を作る
    %li ワークスペースの状態（サイドバーの位置、色）を終了時に保存
    %li ブラシのレスポンスを向上させるいくつかの最適化
    %li クリップボードの画像から新規作成
    %li 縮小表示時の描画がより綺麗かつ高速に
    %li いくつかのバグ修正と小さな改良

  %h4 0.0.3 (2013 年 2 月 25 日)
  %ul
    %li Retina ディスプレイに対応
    %li タブレットのペン先 (ペン / 消しゴム) とブラシプリセットの関連付け
    %li ブラシプリセットとブラシサイズの関連付け

  %h4 0.0.2 (2013 年 2 月 23 日)
  %ul
    %li ファイルフォーマットを改定
    %li ブラシの応答性がかなりよくなった (特にペンタブレット使用時)
    %li 「ワークスペース」機能の追加 - ウィンドウ（ワークスペース）を複数開ける
    %li 一つのファイルに対して複数のキャンバス
    %li いくつかのバグ修正

  %h4 0.0.1 (2013 年 1 月 18 日)
  %ul
    %li 初回リリース