%section#FAQ
  .page-header
    %h1 よくある質問
  %h4 PaintField のデフォルトのショートカットは何？
  %ul
    %li キャンバスの平行移動: Space+ドラッグ
    %li キャンバスの拡大縮小: Option+Space+ドラッグ (Mac), Control+Space+ドラッグ (Linux, Windows)
    %li キャンバスの回転: Shift+Space+ドラッグ
  %p
    また、メニューバー項目の多くにはそれぞれショートカットがあります。
  %h4 PaintField が起動しないんだけど。どうすればいいの？
  %p
    %strong Linux では:
  %p
    次のライブラリがインストールされている必要があります。無ければインストールして下さい。
  %ul
    %li Qt 4.8
    %li libfreeimage