%section#Features
  .page-header
    %h1 機能
  %p
    現在の PaintField の機能は以下の通りです:
  %ul
    %li タブ
    %li タブエリアを水平・垂直に分割
    %li １つの書類に対して複数のビュー
    %li ナビゲータ (Canvas の回転と拡大縮小)
    %li レイヤーとグループ
    %li 無限の取り消し・やり直し
    %li レイヤーの平行移動
    %li ペンタブレットで使えるシンプルなブラシ
    %li テキスト、長方形、楕円形を作る
    %li ...機能が少なすぎますか？
    %li もっと追加されるまで待って...