%section#top
  .hero-unit
    %h1 PaintField
    %p Windows, Mac, Linux 対応でオープンソースのお絵描き・画像編集ソフト
    %a.btn.btn-primary.btn-large{:href => "downloads.html"} ダウンロード »
  .alert.alert-block
    %h4 PaintField はまだプレビュー版です !
    %p
      %br/
      PaintField は、まだ
      %strong> 普通のペイントソフトとしてはかなり不完全です
      。
      %br/
      現在、PaintFieldに最も向いている用途は
      %strong> スケッチ
      です。
    %p
  %p.text-center
    PaintField は、「
    %strong> 簡単で楽しくイライラしないお絵描き
    ができること」を目標にして作られています。
    %br
    %strong 速く動き
    、かつ
    %strong 可能な限りシンプル
    であるように作られています。
  .row
    .span4
      %h3 フリーかつフリー
      %p PaintFieldは無料かつオープンソースです。ソースコードはMITライセンスで公開されています。
    .span4
      %h3 シンプルなインターフェース
      %p PaintFieldのユーザーインターフェースはシンプルにされているので、使うのが簡単です。
      %p
    .span4
      %h3 ペンタブレットでお絵描き
      %p PaintField は、ペンタブレット対応です。
  .row
    .span4
      %h3 クロスプラットフォーム
      %p PaintField は Mac、Linux、そしてWindows 上で使えます。
    .span4
      %h3 動かせるタブ
      %p ファイルやサイドバーのタブは動かすことができます。タブエリアは分割することができます。
    .span4
      %h3 複数のビュー
      %p 複数のファイルを同時に、１つのファイルを複数のビューで同時に編集することができます。
%section#screenshots
  .pf-image-frame
    %a.fancybox{"data-fancybox-group" => "gallery", :href => "../images/demoshot.jpg", :title => "Screenshot"}
      %img.img-polaroid{:alt => "", :src => "../images/demoshot-thumb.jpg"}/